.current-location-btn {
  background-color: #FFFFFF !important;
}

.current-location-btn:hover {
  background-color: #F4F4F4 !important;
}

.operation-place-btn {
  background-color: #124692 !important;
}

.operation-place-btn:hover {
  background-color: #0E3875 !important;
}

.list-item-btn {
  background-color: #124692 !important;
  width: "30px";
  max-height: 46px !important;
}

.list-item-btn:hover {
  background-color: #0E3875 !important;
}

.search-btn {
  background-color: #FFC300 !important;
  color: black !important;
}

.search-btn:hover {
  background-color: #CC9C00 !important;
}

.search-blue-btn {
  background-color: #1A486C !important;
  color: white !important;
}

.search-blue-btn:hover {
  background-color: #153A56 !important;
}

.main-btn {
  background-color: #FFC300 !important;
  color: black !important;
}

.main-btn:hover {
  background-color: #CC9C00 !important;
}

.export-btn {
  background-color: #FFFFFF !important;
  border-width: 1px !important;
  border-color: #FFC300 !important;
  color: black !important;
}

.export-btn:hover {
  background-color: #F4F4F4 !important;
}

.save-btn {
  background-color: #1A486C !important;
  color: white !important;
}

.save-btn:hover {
  background-color: #153A56 !important;
}

.cancel-btn {
  background-color: #FFFFFF !important;
  border-width: 1px !important;
  border-color: #1A486C !important;
  color: #1A486C !important;
}

.cancel-btn:hover {
  background-color: #F4F4F4 !important;
}

.copy-btn {
  background-color: #FFFFFF !important;
  border-width: 1px !important;
  border-color: #1A486C !important;
  color: #1A486C !important;
}

.copy-btn:hover {
  background-color: #F4F4F4 !important;
}

.react-timerange-picker__wrapper {
  border-radius: 5px !important;
  border: 1px solid #C5C8CB !important;
  color: #133462 !important;
  background-color: #FFFFFF !important;
}

.react-timerange-picker__clock-button svg,
.react-timerange-picker__clear-button svg {
  stroke: #81898E !important;
}

.time-range-picker .react-timerange-picker__inputGroup {
  min-width: 0;
}

.time-range-row-picker .react-timerange-picker__inputGroup {
  min-width: 0;
  min-height: 30px !important;
  padding: 0 5px 0 5px !important;
}

.react-timerange-picker__clock-button {
  pointer-events: none !important;
  opacity: 1 !important;
}

.react-timerange-picker__clock {
  z-index: 10 !important;
}

.next-page-btn, .prev-page-btn {
  background-color: #E5E7EB !important;
}

.next-page-btn:hover,
.prev-page-btn:hover {
  background-color: #B7B9BC !important;
}